<style type="text/css">
    #debug-message {
        position: relative;
    }
    a.debug-message {
        background-color: #c4453c;
        background-image: -webkit-linear-gradient(135deg, transparent,
                          transparent 25%, hsla(0,0%,0%,.05) 25%,
                          hsla(0,0%,0%,.05) 50%, transparent 50%,
                          transparent 75%, hsla(0,0%,0%,.05) 75%,
                          hsla(0,0%,0%,.05));
        background-image: -moz-linear-gradient(135deg, transparent,
                          transparent 25%, hsla(0,0%,0%,.1) 25%,
                          hsla(0,0%,0%,.1) 50%, transparent 50%,
                          transparent 75%, hsla(0,0%,0%,.1) 75%,
                          hsla(0,0%,0%,.1));
        background-image: -ms-linear-gradient(135deg, transparent,
                          transparent 25%, hsla(0,0%,0%,.1) 25%,
                          hsla(0,0%,0%,.1) 50%, transparent 50%,
                          transparent 75%, hsla(0,0%,0%,.1) 75%,
                          hsla(0,0%,0%,.1));
        background-image: -o-linear-gradient(135deg, transparent,
                          transparent 25%, hsla(0,0%,0%,.1) 25%,
                          hsla(0,0%,0%,.1) 50%, transparent 50%,
                          transparent 75%, hsla(0,0%,0%,.1) 75%,
                          hsla(0,0%,0%,.1));
        background-image: linear-gradient(135deg, transparent,
                          transparent 25%, hsla(0,0%,0%,.1) 25%,
                          hsla(0,0%,0%,.1) 50%, transparent 50%,
                          transparent 75%, hsla(0,0%,0%,.1) 75%,
                          hsla(0,0%,0%,.1));
        background-size: 20px 20px;
        box-shadow: 0 -5px 0 hsla(0,0%,0%,.1);
        color: #f6f6f6;
        display: block;
        font: bold 16px/40px sans-serif;
        height: 40px;
        position: fixed;
        text-align: center;
        text-decoration: none;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    a.debug-message:hover {
        color: #ccc;
    }
</style>

<div id="debug-message">
    <a class="debug-message" href="#" onclick="document.getElementById('debug-message').style.display = 'none';">{% templatetag openvariable %} settings.ENVIRONMENT {% templatetag closevariable %}</a>
</div>
