{% templatetag openblock %} extends 'master.html' {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

 <h1>Sorry, a server error has occurred (500)</h1>

 <p>We have been automatically notified about the problem and will investigate as soon as possible.</p>

{% templatetag openblock %} endblock content {% templatetag closeblock %}
