.demo {

  .demo__header {
    @include row;
    margin-top: 1em;
  }

  .demo__logo {
    @include span-columns(6);
  }

  .demo__logo-img {
    max-width: 100%;
  }

  .demo__title {
    @include span-columns(6);
    @include omega;
    margin-top: 30px;
    text-align: right;
  }

}
