$menu-color: lightgray;


.menu {
  @include outer-container(100%);
  background: $menu-color;

  .menu__section {

    display: flex;
    align-items: center;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;

    &--left {
      @include span-columns(6);
      @include shift(2);
      display: flex; // override
    }

    &--right {
      @include span-columns(2);
      display: flex; // override
    }
  }

  .menu__item {
    flex: 1;
    list-style: none;
    padding: 1em;
    text-align: center;

    transition: all 1s ease;

    &:hover {
      background: gray;
      color: $menu-color;
    }
  }
}
